/* style.css */

body {
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #fff;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.header {
    background-color: #444;
    padding: 20px;
    text-align: center;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.input-container {
    padding: 20px;
}

#url-input {
    width: 80%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #555;
    color: #fff;
}

#get-html-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #666;
    color: #fff;
    cursor: pointer;
}

#get-html-button:hover {
    background-color: #777;
}

.output-container {
    padding: 20px;
}

#output {
    padding: 10px;
    border: 1px solid #666;
    background-color: #555;
    color: #fff;
    width: 80%;
}